<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/namespace.css" />
  </head>
  <body>
    <div id="container">
      <div id="intro">
        <div id="pageHeader">
          <div class="wrapper">
            <div id="sitename">
            <h1>
              <a href="/">OpenActive.io namespace</a>
            </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="selectionbar">
      <div class="wrapper">
        <ul>
          <li>
            <a href="https://developer.openactive.io/data-model/types">Documentation</a>
          </li>
          <li>
            <a href="https://openactive.io/ns">Namespace Terms</a>
          </li>
          <li>
            <a href="https://w3c.openactive.io/">W3C Community Group</a>
          </li>
          <li>
            <a href="https://www.openactive.io/">About OpenActive</a>
          </li>
        </ul>
      </div>
    </div>
    <div id="mainContent">
      {{ content }}
    </div>
    <div id="footer">
      <p><a href="https://schema.org/">The OpenActive data model builds on top of schema.org</a></p>
    </div>
  </body>
</html>
